<!-- Post -->
<article class="post">
  <h2 class="post-title">{{title}}</h2>
  <p class="post-content">{{content}}</p>
  <p class="post-date">Posted on {{createdAt}}</p>
  <p class="post-author">by {{User.username}}</p>
</article>

<!-- Comments Section -->
<section class="comments">
  <h3>Comments</h3>
  {{#if comments.length}}
    <ul class="comments-list">
      {{#each comments}}
        <li class="comment">
          <p class="comment-content">{{this.content}}</p>
          <p class="comment-author">by {{this.User.username}} on {{this.createdAt}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No comments yet.</p>
  {{/if}}

  {{#if loggedIn}}
    <!-- New Comment Form -->
    <form class="new-comment-form" action="/api/comments" method="POST">
      <input type="hidden" name="postId" value="{{id}}">
      <textarea name="content" placeholder="Leave a comment" required></textarea>
      <button type="submit">Submit</button>
    </form>
  {{else}}
    <p><a href="/login">Log in</a> to leave a comment.</p>
  {{/if}}
</section>
